/*
  Typography
*/

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h2.heading {
    font-size: 20px !important;
    font-weight: normal;
}
h2.title, .lead {
    text-align:center;
}

p {
  font-size: 14px;
  line-height: 1.5em;
  color: #888;
}